<div class="card create-form">
	<div class="card-content">
		<span class="card-title" id="titulo">Criar um Evento</span>

		<div class="row">
			<!--Form em si-->
			<form class="col s12">
				<div class="row">
					<!--Nome-->
					<div class="input-field col s12">
						<input id="nome" type="text" name="nome" ng-model="params.Nome" ng-init="params.Nome = eventoAttr.nome">
						<label for="nome">Nome do Evento</label>
					</div>					
				</div>

				<div class="row">
					<!--Tipo-->
					<div class="input-field col s12 l4">
						<select id="tipo" name="tipo" onchange="verificaTipo();" ng-model="params.Tipo">
							<option value="1">Preleção</option>
							<option value="2">Trekking</option>
							<option value="3">Acampamento</option>
						</select>
						<label>Tipo do Evento</label>
					</div>
					
					<!--Tipo de Trekking-->
					<div class="input-field col s12 l4">
						<select disabled id="tipoTrekking" name="tipotipoTrekking" ng-model="params.TipoTrekking">
							<option value="Ping-Pong">Ping-Pong</option>
							<option value="Circuito">Circuito</option>
							<option value="Travessia">Travessia</option>
						</select>
						<label>Tipo do Trekking</label>
					</div>

					<!--Dificuldade-->
					<div class="input-field col s12 l4">
						<select disabled id="dificuldade" name="dificuldade" ng-model="params.Dificuldade">
							<option value="Fácil Pacas">Fácil Pacas</option>
							<option value="Fácil">Fácil</option>
							<option value="Médio">Médio</option>
							<option value="Difícil">Difícil</option>
							<option value="Difícil Pacas">Difícil Pacas</option>
						</select>
						<label>Dificuldade</label>
					</div>
				</div>

				<div class="row">
					<!--Data Inicio-->
					<div class="input-field col s12 l4">
						<input id="dataInicio" type="text" class="datepicker" name="dataInicio" ng-model="params.DataInicio" ng-init="params.DataInicio = eventoAttr.dataInicio">
						<label for="dataInicio" class="active">Data do Trekking/Preleção</label>
					</div>

					<!--Data Fim-->
					<div class="input-field col s12 l4">
						<input disabled id="dataFim" type="text" class="datepicker" name="dataFim" ng-model="params.DataFim" ng-init="params.DataFim = eventoAttr.dataFim">
						<label for="dataFim" class="active">Fim do Trekking (Apenas Acamp)</label>
					</div>
					
					<!--Numero Maximo-->
					<div class="input-field col s12 l4">
						<input id="numeroMax" type="number" name="numeroMax" ng-model="params.NumeroMax" ng-init="params.NumeroMax = eventoAttr.numeroMax">
						<label for="numeroMax">Número Máximo de Pessoas</label>
					</div>
				</div>
				
				<div class="row">
					<!--Data Inscricao-->
					<div class="input-field col s12 l6">
						<input id="dataInscricao" type="text" class="datepicker" name="dataInscricao" ng-model="params.DataInscricao" ng-init="params.DataInscricao = eventoAttr.dataDia">
						<label for="dataInscricao" class="active">Data de Inscrição</label>
					</div>
					
					<!--Horario Inscricao-->
					<div class="input-field col s12 l6">
						<input id="horarioInscricao" type="text" class="timepicker" name="horarioInscricao" ng-model="params.HorarioInscricao" ng-init="params.HorarioInscricao = eventoAttr.dataHora">
						<label for="horarioInscricao">Horário de Inscrição</label>
					</div>
				</div>
				
				<div class="row">
					<!--Data Fim Inscricao-->
					<div class="input-field col s12 l6">
						<input id="dataFimInscricao" type="text" class="datepicker" name="dataFimInscricao" ng-model="params.DataFimInscricao" ng-init="params.DataFimInscricao = eventoAttr.dataFimDia">
						<label for="dataFimInscricao" class="active">Data do Fim da Inscrição</label>
					</div>
					
					<!--Horario Inscricao-->
					<div class="input-field col s12 l6">
						<input id="horarioFimInscricao" type="text" class="timepicker" name="horarioFimInscricao" ng-model="params.HorarioFimInscricao" ng-init="params.HorarioFimInscricao = eventoAttr.dataFimHora">
						<label for="horarioFimInscricao">Horário do Fim da Inscrição</label>
					</div>
				</div>

				<div class="row">
					<!--Local-->
					<div class="input-field col s12">
						<textarea id="local" class="materialize-textarea" name="local" ng-model="params.Local" ng-init="params.Local = eventoAttr.local"></textarea>
						<label for="local">Local do Evento</label>
					</div>
				</div>
			</form>
		</div>
		
		<div class="btn-wrapper">
			<!--Botao Cancelar-->
			<a id="cancelar-btn" class="waves-effect waves-light btn-flat" href="/main-page">Cancelar</a>
			<!--Botao Submit CRIAR EVENTO-->
			<a id="botaoSubmitCE" ng-if="!modoEdicao" class="waves-effect waves-light btn deep-orange accent-2" ng-click="criarEvento(params)"><i class="material-icons right">send</i>Criar Evento</a>
			<!--Botao Submit EDITAR EVENTO-->
			<a id="botaoSubmitEE" ng-if="modoEdicao" class="waves-effect waves-light btn deep-orange accent-2" ng-click="editarEvento(params)"><i class='material-icons right'>edit</i>Salvar</a>
		</div>
	</div>
</div>