<div class="card create-form">
	<div class="card-content">
		<span class="card-title" id="titulo">Fazer uma Postagem</span>

		<div class="row">
			<!--Form em si-->
			<form class="col s12">
				<div class="row">
					<!--Texto da Postagem-->
					<div class="input-field col s12">
						<textarea id="texto-postagem" class="materialize-textarea" name="texto-postagem" ng-model="params.TextoPostagem"></textarea>
						<label for="texto-postagem">Texto do Post</label>
					</div>
				</div>
				
				<div class="row" id="criar-post-segunda-row">
					<!-- Post Fix -->
					<p class="col s12 l3" id="p-fixado">
						<input type="checkbox" class="filled-in" id="fixado" ng-model="params.Fixado"/>
						<label for="fixado">Fixar Postagem</label>
					</p>
				
					<!--Evento Atrelado-->
					<div class="input-field col s12 l9">
						<select id="evento-atrelado" name="evento-atrelado" ng-model="params.EventoAtrelado" ng-options="evento.ID as evento.Nome for evento in eventos track by evento.ID">
						</select>
						<label>Evento Atrelado</label>
					</div>
				</div>
			</form>
		</div>
		
		<div class="btn-wrapper">
			<!--Botao Cancelar-->
			<a id="cancelar-btn" class="waves-effect waves-light btn-flat" href="/main-page">Cancelar</a>
			<!--Botao Submit Postar-->
			<a id="botaoSubmitPostagem" class="waves-effect waves-light btn deep-orange accent-2" ng-click="criarPostagem(params)"><i class="material-icons right">send</i>Postar</a>
		</div>
	</div>
</div>