/*****Variaveis*****/
/*****Background Image*****/
.content:before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
  display: block;
  background-image: url("../../rsc/login/img/login-background.jpg");
  width: 1920px;
  height: 1080px;
  -webkit-filter: contrast(60%);
  -moz-filter: contrast(60%);
  -o-filter: contrast(60%);
  -ms-filter: contrast(60%);
  filter: contrast(60%); }
