/*****Variaveis*****/
$contraste: 50%;

/*****Background Image*****/
.content:before {
	content: "";
	position: fixed;
	left: 0;
	right: 0;
	z-index: -1;

	display: block;
	background-image: url("../../rsc/login/img/login-background.jpg");
	width: 100%;
	height: 100%;

	-webkit-filter: contrast($contraste);
	-moz-filter: contrast($contraste);
	-o-filter: contrast($contraste);
	-ms-filter: contrast($contraste);
	filter: contrast($contraste);
}

/*****Leva card ao centro da tela*****/
html, body, .content, .container, .row, .col, .valign-wrapper {
	height: 100%;
}

/*****Card Central*****/
.valign-wrapper {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.card {
	width: 100%;
	max-width: 486px;
	margin-left: auto;
	margin-right: auto;

	#logo {
		width: 90%;
		margin-left: 4%;
		margin-bottom: 5%;
		margin-top: 5%;
	}

	//Welcome frase
	blockquote {
		font-size: 20px;
		font-weight: 300;
		color: white;
		margin-bottom: 13%;
		border-left: 5px solid #795548; /* Just change the color value and that's it*/
	}

	//Botoes de login
	a {
		display: block;		
		margin-bottom: 10%;

		//Icones dos botoes
		i {
			margin-right: 0%;
		}
	}

	//Botao de login do Facebook
	#loginFacebook {
		margin-bottom: 5%;
	}
}

//Tweaks p/ Tela Mobile
@media screen and (max-width: 647px) {
	.valign-wrapper {
		height: 90%;
		margin-top: 5%;
		margin-bottom: 5%;
	}

	.card {
		overflow: auto;

		#logo {
			margin-top: 2%;
			margin-bottom: 2%;
		}
	}
}
