/*****ANOTACOES*****/
//Elementos fora da navbar tem 3.5% de margin-left

/*****Body*****/
body {
	background-color: #fafafa;
}

/*****Container*****/
.container {
	width: 96.5% !important;
	margin-left: 3.5% !important;
}

/*****Nav Bar*****/
nav {
	.row {
		margin-bottom: 0px;
	}

	//Logo
	#logo {
		width: 120px;
		margin-top: 4%;
		margin-left: 12%;
	}

	//Search Bar
	form {
		margin-top: 8px;

		.input-field {
			margin: auto;
			border-radius: 2px;
		}

		#inputWrapper {
			width: 100%;
			height: 50px !important;
		}

		#search {
			text-color: white;
		}

		.material-icons {
			margin-top: -6px;
		}

		//Mudar a cor do place-holder
		::-webkit-input-placeholder {
			color: white;
		}
		:-moz-placeholder {
			color: white;
			opacity:  1;
		}
		::-moz-placeholder {
			color: white;
			opacity:  1;
		}
		:-ms-input-placeholder {
			color: white;
		}
		::-ms-input-placeholder {
			color: white;
		}
	}

	//Menu Usuario
	ul {
		margin-right: 8% !important;
		
		//Icone de Mensagens
		#messageIcon {
			margin-right: 30px;
		}

		//Foto do Usuario
		#userImage {
			width: 40px;			
			margin-top: 30%;
		}		
	}

	//Tabs
	.tabs {
		margin-left: 3.5%;
	}
	
	//Tweaks do mobile
	@media screen and (max-width: 992px) {
		//Barra de Pesquisa
		form {
			.input-field {
				margin-bottom: 8px !important;
			}

			#inputWrapper {
				width: 90%;
			}

			.material-icons {
				margin-top: -5px;
			}
		}

		.button-collapse {
			margin-top: 4px !important;
		}

		//Tabs
		.tabs {
			margin-left: 0%;
		}
	}

	@media screen and (max-width: 600px) {
		form {
			.material-icons {
				margin-top: -2px;
			}
		}
	}
}