<!DOCTYPE html>
<html ng-app="main">
	<head>
		<title>Página Inicial - Coltrekking</title>
		<link rel="icon" type="image/png" href="../rsc/logo/macaco.png" />
		<meta name="theme-color" content="#8bc34a">
		<meta charset="utf-8">

		<!--Adiciona jQuery-->
		<script src="../node_modules/jquery/dist/jquery.min.js"></script>

		<!--Adiciona Angular-->
		<script src="../node_modules/angular/angular.min.js"></script>
		<script src="../node_modules/angular-route/angular-route.min.js"></script>
		<script src="../node_modules/angular-sanitize/angular-sanitize.min.js"></script>

		<!--Adiciona o Firebase-->
		<script src="https://www.gstatic.com/firebasejs/3.7.1/firebase.js"></script>
		<script src="https://apis.google.com/js/platform.js" async defer></script>

		<!--Importa Google Icon Font-->
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<!--Importa materialize.css-->
		<link type="text/css" rel="stylesheet" href="../node_modules/materialize-css/dist/css/materialize.min.css"  media="screen,projection"/>
		<!--Mobile Viewport-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

		<!--Adiciona firebase.js-->
		<script src="../js/firebase.js"></script>
		<!--Adiciona app.js-->
		<script src="../js/app.js"></script>

		<!--Importa CSS-->
		<link rel="stylesheet" type="text/css" href="../css/main/style.css">
	</head>
	
	<body>
		<div ng-controller="LoginController as login">
			<!--NavBar-->
			<div class="navbar-fixed">
				<nav class="nav-extended light-green z-depth-2">
					<div class="nav-wrapper light-green">
						<div class="row">
							<div class="container nav-container">
								<!--Logo-->
								<div id="logo-wrapper" class="col l3 hide-on-med-and-down">
									<a href="/main-page"><img id="logo" src="../rsc/logo/coltrekking-logo-3.png"></a>
								</div>

								<!--Botao Hamburger-->
								<a id="hamburguer" href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>

								<!--Search Bar-->
								<div class="col s10 m11 l6">
									<form>
										<div id="inputWrapper" class="input-field light-green lighten-1">
											<input id="search" type="search" placeholder="Pesquisar" required>
											<label class="label-icon" for="search"><i class="material-icons">search</i></label>
											<i class="material-icons">close</i>
										</div>
									</form>
								</div>

								<!--User Menu-->
								<div class="col l3 hide-on-med-and-down">
									<ul id="nav-user" class="right">
										<!--Mensagenss-->
										<li><i id="messageIcon" class="material-icons">message</i></li>
										<!--User Dropdown-->
										<li><a class="dropdown-button" href="#!" data-beloworigin="true" data-activates="dropdown-menu"><img class="userImage circle" ng-src="{{ login.usuarioLogado.Foto }}"></a></li>
										<ul id="dropdown-menu" class="dropdown-content">
											<li><a href="#!" class="nome-usuario">{{ login.usuarioLogado.Nome }}</a></li>
											<li><a href="#!">Colocação no Ranking: <span>{{ login.usuarioLogado.Posicao }}º</span></a></li>
											<li><a href="#!">Fator K: <span>{{ login.usuarioLogado.FatorK }}</span></a></li>
											<li><a href="#!">Lista Negra: <span>{{ login.usuarioLogado.ListaNegra }}</span></a></li>
											<li class="divider"></li>
											<!--Logout Button-->
											<li><a id="sair-button" href="/logout" onclick="logOut();">Sair</a></li>
										</ul>
									</ul>
								</div>
							</div>
						</div>
					</div>

					<!--Tabs-->
					<div ng-controller="RouteController">
						<div class="container nav-container">
							<div class="nav-content">
								<ul class="tabs tabs-transparent tabs-fixed-width" ng-show="$location.path() === '/'"> <!--So aparece na Pagina Principal-->
									<li class="tab"><a href="#eventos">Eventos</a></li>
									<li class="tab"><a href="#news-feed">News Feed</a></li>
									<li class="tab"><a href="#ranking">Ranking</a></li>
								</ul>
							</div>
						</div>
					</div>
				</nav>
			</div>
			
			<!--SideNav-->
			<ul class="side-nav" id="mobile-demo">
				<!--Nome + Foto-->
				<li id="cabecote"><a href="#!" class="nome-usuario"><img class="userImage circle" ng-src="{{ login.usuarioLogado.Foto }}"><span>{{ login.usuarioLogado.Nome }}</span></a></li>
				<li class="divider"></li>
				
				<!--Main Page Button-->
				<li><a id="main-page" href="/main-page">Página Principal</a></li>
				<li class="divider"></li>
				
				<!--Info do Usuario-->
				<li><a href="#!">Colocação no Ranking: <span>{{ login.usuarioLogado.Posicao }}º</span></a></li>
				<li><a href="#!">Fator K: <span>{{ login.usuarioLogado.FatorK }}</span></a></li>
				<li><a href="#!">Lista Negra: <span>{{ login.usuarioLogado.ListaNegra }}</span></a></li>
				<li class="divider"></li>
				
				<!--Logout Button-->
				<li><a id="sair-button" href="/logout" onclick="logOut();">Sair</a></li>
			</ul>
		</div>

		<!--Corpo Principal da Pagina-->
		<div id="corpo" class="container">
			<!--FAB-->
			<div ng-if="usuario.Admin" class="fixed-action-btn">
				<a class="btn-floating btn-large deep-orange accent-2">
					<i class="large material-icons">add</i>
				</a>

				<ul>
					<li><a href="#!/create-event" class="btn-floating deep-orange accent-2"><i class="material-icons">event</i></a></li>
					<li><a href="#!/create-news" class="btn-floating deep-orange accent-2"><i class="material-icons">chat</i></a></li>
				</ul>
			</div>

			<!--Paginas das Abas-->
			<div ng-controller="RouteController">
				<div ng-show="$location.path() === '/'">					
					<!--News Feed-->
					<div ng-controller="PostsController">
						<div id="news-feed">
							<div class="row modulo-wrapper">							
								<!-- Posts fixados -->
								<div class="container col hide-on-med-and-down l4 right">
									<p class="fixadas-titulo">Publicações Fixadas</p>
									
									<div class="card" ng-repeat="post in postagemFixada | filter: {Fixado: 1}">
										<div class="card-content">
											<a href="#" onclick="return false;" ng-click="excluirPostagem(post.ID)">
												<i ng-if="usuario.Admin" class="material-icons delete-post-fixado">delete</i>
											</a>
											<p class="data-post data-post-fixado">{{post.Data}}</p>
											
											<!-- Corpo da postagem -->
											<p ng-bind-html="post.Texto"></p>
										</div>
									</div>
								</div>
							
								<div class="container col s12 l7">
									<!-- Filtro -->
									<div class="row" id="filtro">
										<div class="col s5">
											<p class="fixadas-titulo" id="filtro-titulo">Filtrar por evento: </p>
										</div>
										
										<div class="col s7">
											<label>
												<select class="browser-default" id="filtro-posts" name="filtro-posts" ng-change="filtrar()" ng-model="Postagens" ng-options="post.EventoID as post.Nome for post in postsFiltro | filter: {Fixado: 0}">
												</select>
											</label>
										</div>
									</div>
									
									<!-- Posts !fixados -->
									<div class="row">
										<div class="card" ng-repeat="post in postagem | filter: {Fixado: 0}">
											<div class="card-content">
												<div class="chip admin-post">
													<img ng-src="{{post.AdminFoto}}" alt="Contact Person">
													{{post.AdminNome}}
												</div>
												<p class="data-post">{{post.Data}}</p>
												<a href="#" onclick="return false;" ng-click="excluirPostagem(post.ID)">
													<i ng-if="usuario.Admin" class="material-icons delete-post">delete</i>
												</a>
												
												<span ng-if="post.Nome" class="card-title nome-post">{{post.Nome}}</span>
												
												<!-- Corpo da postagem -->
												<p ng-bind-html="post.Texto"></p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>


					<!--Eventos-->
					<div ng-controller="EventosController">
						<div id="eventos">
							<div class="row modulo-wrapper">
								<!--Fixacoes-->
								<div class="container col hide-on-med-and-down l4 right">
									<!--Eventos Cadastrados-->
									<div class="card" id="card-confirmados">
										<div class="card-content">
											<span class="card-title">Eventos Confirmados por Você</span>
											
											<!-- Lista de Eventos Confirmados -->
											<ul>
												<li ng-repeat="confirmados in eventosConfirmados">
													<i class="tiny material-icons">label_outline</i>
													{{confirmados.Nome}}
												</li>
											</ul>
											
											<!-- Mensagem Default -->
											<p ng-show="eventosConfirmados.length == 0">Você não confirmou presença em evento algum</p>
										</div>
									</div>
									
									<!-- Scroll Spy -->
									<ul class="section table-of-contents">
										<li ng-repeat="evento in eventos" ng-if="!evento.Finalizado">
											<a ng-attr-href="{{'#' + evento.ID}}">{{evento.Nome}}</a>
										</li>
									</ul>
								</div>
								
								<!--Cria os cards de evento-->
								<div class="container col s12 l7" ng-repeat="evento in eventos">
									<div class="card card-evento section scrollspy" ng-attr-id="{{evento.ID}}" ng-if="!evento.Finalizado">
										<!--Cabecalho-->
										<div class="card-image">
											<!--Imagem-->
											<img ng-src="{{evento.Capa}}">
											<!--Nome-->
											<span class="card-title">{{evento.Nome}}</span>
											<!--FAB Confirmar-->
											<a ng-attr-id="{{'btn-confirmar-' + evento.ID}}" ng-disabled="!(evento.Disponivel == 1)" ng-click="confirmarEvento(this.evento)" class="btn-sign btn-floating btn-large halfway-fab waves-effect waves-light deep-orange accent-2"><i class="material-icons">add</i></a>
											<!--FAB Cancelar-->
											<a ng-attr-id="{{'btn-cancelar-' + evento.ID}}" ng-click="cancelarEvento(this.evento)" ng-disabled="!(evento.Disponivel == 1)" ng-show="estaConfirmado(evento)" class="btn-sign btn-floating btn-large halfway-fab waves-effect waves-light deep-orange accent-2"><i class="material-icons">remove</i></a>
										</div>
										
										<!--Info do Evento-->
										<div class="card-content">
											<!-- Menu Card -->
											<a ng-if="usuario.Admin" ng-attr-id="{{'dropdown-card' + evento.ID}}" class="dropdown-button right" href="#!" onclick="return false;" ng-attr-data-activates="{{'menu-card' + evento.ID}}">
												<i class="material-icons">more_vert</i>
											</a>
											
											<ul ng-if="usuario.Admin" ng-attr-id="{{'menu-card' + evento.ID}}" class="dropdown-content">
												<li><a ng-attr-href="{{'#!/create-event?id=' + evento.ID + '&nome=' + evento.Nome + '&tipo=' + evento.Tipo + '&tipoTrekking=' + evento.TipoTrekking + '&dataInicio=' + evento.DataInicio + '&dataFim=' + evento.DataFim + '&local=' + evento.Local + '&dificuldade=' + evento.Dificuldade + '&numeroMax=' + evento.NumeroMax + '&dataInscricao=' + evento.DataInscricao + '&fimInscricao=' + evento.FimInscricao}}"">Editar evento</a></li>
												<li><a href="#!" class="finalizador" onclick="return false;" ng-click="finalizarEvento(evento.ID)" ng-attr-href="{{'#lista-finalizadora' + evento.ID}}">Finalizar evento</a></li>
												<li class="divider"></li>
												<li><a href="#!" class="excluidor" onclick="return false;" ng-click="excluirEvento(evento.ID)">Excluir evento</a></li>
											</ul>
											
											<!-- Info do Evento -->
											<p>
												<i class="tiny material-icons">label</i>
												<span class="topico-info"> Tipo:</span class="topico-info"> {{evento.TipoString}}
											</p>
											
											<p ng-show="evento.Tipo == 2">
												<i class="tiny material-icons">label_outline</i>
												<span class="topico-info"> Modalidade:</span class="topico-info"> {{evento.TipoTrekking}}
											</p>
											
											<!--Nao mostra se for prelecao-->
											<p ng-show="evento.Tipo != 1">
												<i class="tiny material-icons">warning</i>
												<span class="topico-info"> Dificuldade:</span class="topico-info"> {{evento.Dificuldade}}
											</p>
											
											<!-- Mostra apenas em acampamento -->
											<p ng-show="evento.Tipo == 3">
												<i class="tiny material-icons">today</i>
												<span class="topico-info"> De</span class="topico-info"> {{evento.DataInicio}}
												<span class="topico-info"> a</span class="topico-info"> {{evento.DataFim}}
											</p>											
											
											<!-- Mostra apenas em !acampamento -->
											<p ng-show="evento.Tipo != 3">
												<i class="tiny material-icons">today</i>
												<span class="topico-info"> Dia:</span class="topico-info"> {{evento.DataInicio}}
											</p>
											
											<p>
												<i class="tiny material-icons">location_on</i>
												<span class="topico-info"> Local:</span class="topico-info"> {{evento.Local}}
											</p>
											
											<!-- Numero de Inscritos -->
											<p>
												<i class="tiny material-icons">add_circle</i>
												<span class="topico-info"> Nº de Inscritos:</span> {{evento.Confirmados.length}}/{{evento.NumeroMax}}
											</p>
											
											<!-- Countdown de Disponibilidade -->
											<p class="countdownDisponibilidade" ng-if="evento.Disponivel == 1">
												Inscrições encerram em {{evento.CountdownDisponibilidade}}
											</p>
											
											<!-- Inscricoes encerradas -->
											<p class="countdownDisponibilidade" ng-if="evento.Disponivel == 2">
												Inscrições encerradas
											</p>
										</div>
										
										<!--Card Action LISTA DE INSCRITOS-->
										<div class="card-action" ng-show="evento.Disponivel">
											<a ng-attr-href="{{'#lista-inscritos' + evento.ID}}" ng-click="postConfirmado(evento)" onclick="return false;">Lista de Inscritos no Evento</a>
										</div>
										
										<!--Card Action COUNTDOWN-->
										<div class="card-action" ng-show="!evento.Disponivel">
											<a onclick="return false;">Disponível em {{evento.Countdown}}</a>
										</div>
									</div>
									
									<!--Lista de Inscritos-->
									<div ng-attr-id="{{'lista-inscritos' + evento.ID}}" class="modal modal-fixed-footer">
										<div class="modal-content">
											<p class="modal-header">{{evento.Nome}}</p>
											
											<!--Tabela-->
											<table class="bordered">
												<!--Titulos da tabela-->
												<thead>
													<tr>
														<th>Posição</th>
														<th>Nome</th>
														<th class="hide-on-med-and-down">Data da Inscrição</th>
													</tr>
												</thead>

												<!--Linha para cada usuario-->
												<tbody>
													<tr ng-repeat="pessoa in evento.Confirmados" ng-class="{espera: $index >= evento.NumeroMax}">
														<td>{{$index + 1}}º</td>
														<td>{{pessoa.Nome}}</td>
														<td class="hide-on-med-and-down">{{pessoa.DataInscricao}}</td>
													</tr>
												</tbody>
											</table>
										</div>
										
										<div class="modal-footer">
											<button type="button" class="modal-action modal-close waves-effect waves-orange btn-flat">Fechar</button>
										</div>
									</div>
									
									<!-- Lista Finalizadora -->
									<div ng-attr-id="{{'lista-finalizadora' + evento.ID}}" class="modal" id="modal-finalizar">
										<div class="modal-content">
											<p class="modal-header">Finalizar Evento</p>
											
											<form>
												<div class="row">
													<!-- Checkbox dos Presentes -->
													<p ng-repeat="confirmado in evento.Confirmados" class="checkboxConfirmados col s12 m4 l3" ng-if="!confirmado.ListaEspera">
														<input type="checkbox" name="pessoas[]" class="filled-in" ng-attr-id="{{confirmado.ID}}" ng-attr-value="{{confirmado.ID}}"/>
														<label ng-attr-for="{{confirmado.ID}}">{{confirmado.Nome}}</label>
													</p>
												</div>
												
												<div class="row">
													<!-- Kilometragem -->
													<div class="input-field col s12 m6">
														<input id="km-finalizar" type="number" name="kilometragem" ng-model="finalizar.Kilometragem">
														<label for="km-finalizar">Kilometragem</label>
													</div>
												
													<!-- Fator K -->
													<div class="input-field col s12 m6">
														<input id="fatorK-finalizar" type="number" name="fatork" ng-model="finalizar.Fatork">
														<label for="fatorK-finalizar">Fator K</label>
													</div>
												</div>
											</form>
										</div>
										
										<div class="modal-footer">
											<!--Botao Cancelar-->
											<a href="#!" class="modal-action modal-close waves-effect waves-orange btn-flat">Cancelar</a>
											<!--Botao Submit Finalizar-->
											<a href="#!" id="btn-finalizar-evento" class="modal-action modal-close waves-effect waves-orange btn-flat" ng-click="finalizarEvento(finalizar, evento.ID)">Aplicar</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>


					<!--Ranking-->
					<div ng-controller="RankingController as Ranking">
						<div id="ranking">
							<div class="card">
								<div class="card-content">
									<!--Tabela-->
									<table class="striped">
										<!--Titulos da tabela-->
										<thead>
											<tr>
												<th>Posição</th>
												<th>Nome</th>
												<th>Fator K</th>
											</tr>
										</thead>

										<!--Linha para cada usuario-->
										<tbody>
											<tr ng-repeat="pessoa in ranking">
												<td>{{pessoa.Posicao}}º</td>
												<td>{{pessoa.Nome}}</td>
												<td>{{pessoa.FatorK}}</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
				

				<!--Rotas-->
				<div ng-view></div>
			</div>
		</div>


		<!--Adiciona materialize.js-->
		<script src="../node_modules/materialize-css/dist/js/materialize.min.js"></script>	
		<!--Adiciona script.js-->
		<script src="../js/main/script.js"></script>
	</body>
</html>