/*****Body*****/
body {
  background-color: #fafafa; }

/*****Nav Bar*****/
nav .row {
  margin-bottom: 0px; }

nav #logo {
  width: 120px;
  margin-top: 4%;
  margin-left: 10%; }

nav form .input-field {
  margin-top: 8px !important;
  margin: auto;
  -webkit-border-radius: 2px;
  border-radius: 2px; }

nav form #inputWrapper {
  width: 70%;
  height: 50px !important; }

nav form #search {
  text-color: white; }

nav form .material-icons {
  margin-top: -6px; }

nav form ::-webkit-input-placeholder {
  color: white; }

nav form :-moz-placeholder {
  color: white;
  opacity: 1; }

nav form ::-moz-placeholder {
  color: white;
  opacity: 1; }

nav form :-ms-input-placeholder {
  color: white; }

nav form ::-ms-input-placeholder {
  color: white; }

nav ul {
  margin-right: 8% !important; }
  nav ul #userImage {
    width: 35px;
    margin-top: 40%; }

@media screen and (max-width: 992px) {
  nav .input-field {
    margin-bottom: 8px !important; }
  nav form .material-icons {
    margin-top: -5px; }
  nav .button-collapse {
    margin-top: 4px !important; } }

@media screen and (max-width: 600px) {
  nav form .material-icons {
    margin-top: -2px; } }
