/*****ANOTACOES*****/
/*****Mixins*****/
/*****Body*****/
body {
  background-color: #fafafa; }

::-webkit-scrollbar {
  display: none; }

/*****Container*****/
.container {
  margin: auto !important; }

@media only screen and (min-width: 993px) {
  .container {
    width: 90%; } }

/*****Nav Bar*****/
nav .row {
  margin-bottom: 0px; }

nav #logo {
  width: 120px;
  margin-left: -2%;
  margin-top: 8px; }

nav #logo-wrapper {
  height: 48.3px; }

nav #hamburguer {
  padding-left: 10px;
  margin-right: 0px; }

nav form {
  margin-top: 8px; }
  nav form .input-field {
    margin: auto;
    -webkit-border-radius: 2px;
    border-radius: 2px; }
  nav form #search {
    height: 50px;
    border-bottom: 0px;
    font-size: 16px; }
  nav form #search:focus {
    -webkit-border-radius: 2px !important;
    border-radius: 2px !important;
    border-bottom: 0px !important;
    -webkit-box-shadow: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important; }
  nav form #inputWrapper {
    width: 100%;
    height: 50px !important; }
  nav form .material-icons {
    margin-top: -6px; }
  nav form ::-webkit-input-placeholder {
    color: white; }
  nav form :-moz-placeholder {
    color: white;
    opacity: 1; }
  nav form ::-moz-placeholder {
    color: white;
    opacity: 1; }
  nav form :-ms-input-placeholder {
    color: white; }
  nav form ::-ms-input-placeholder {
    color: white; }

nav ul #messageIcon {
  margin-right: 25px; }

nav ul .dropdown-button {
  height: 62px; }

nav ul .dropdown-content {
  width: 230px !important; }
  nav ul .dropdown-content a {
    color: #000;
    cursor: default;
    font-weight: 400; }
    nav ul .dropdown-content a span {
      float: right;
      color: #00c853; }
  nav ul .dropdown-content .nome-usuario {
    font-weight: 500 !important; }
  nav ul .dropdown-content #sair-button, nav ul .dropdown-content #main-page {
    cursor: pointer; }

nav ul .userImage {
  width: 40px;
  margin-top: 11px; }

nav .tabs {
  margin-top: 10px !important;
  overflow-x: hidden; }
  nav .tabs a {
    font-weight: 500; }

@media screen and (max-width: 992px) {
  nav .nav-container {
    margin-left: 0px !important;
    margin-right: 0px !important;
    width: 100%; }
  nav form .input-field {
    margin-bottom: 8px !important; }
  nav form #inputWrapper {
    width: 90%; }
  nav form .material-icons {
    margin-top: -5px; }
  nav .button-collapse {
    margin-top: 4px !important; } }

@media screen and (max-width: 600px) {
  nav form .material-icons {
    margin-top: -2px; } }

/*****Side Navbar*****/
.side-nav a {
  color: #000;
  cursor: default;
  font-weight: 400; }
  .side-nav a span {
    float: right;
    color: #00c853; }

.side-nav .nome-usuario {
  font-weight: 500 !important; }

.side-nav #sair-button, .side-nav #main-page {
  cursor: pointer; }

.side-nav .divider {
  margin-top: 0px !important; }

.side-nav #cabecote {
  margin-top: 13px;
  margin-bottom: 7px; }
  .side-nav #cabecote span {
    color: rgba(0, 0, 0, 0.87) !important; }
  .side-nav #cabecote .userImage {
    width: 40px; }

/*****CORPO*****/
#corpo {
  margin-top: 73px !important; }

.modulo-wrapper {
  margin-top: 80px; }

/*****CARD POSTS*****/
#news-feed .fixadas-titulo {
  font-size: 24px;
  font-weight: 300;
  margin-top: 0px; }

#news-feed .nome-post {
  margin-top: 14px;
  margin-bottom: 18px;
  font-weight: 400;
  color: #ff6e40; }

#news-feed .chip {
  height: 22px !important;
  font-size: 11px !important;
  line-height: 22px !important; }
  #news-feed .chip img {
    height: 22px !important;
    width: 22px !important; }

#news-feed .data-post {
  color: rgba(0, 0, 0, 0.6);
  font-size: 11px;
  display: inline; }

#news-feed .delete-post, #news-feed .delete-post-fixado {
  float: right;
  color: rgba(0, 0, 0, 0.6);
  font-size: 21px; }

#news-feed .delete-post-fixado {
  margin-top: -5px; }

#news-feed .data-post-fixado {
  margin-top: -5px !important;
  margin-bottom: 18px !important;
  display: block !important; }

#news-feed #filtro {
  margin-bottom: 16px; }

#news-feed #filtro-titulo {
  margin-bottom: 0px; }

#news-feed #filtro-posts {
  color: black;
  font-size: 14px; }

#news-feed a {
  color: #ff6e40; }

/*****CARDS EVENTOS*****/
#eventos .card-content {
  font-size: 16px; }
  #eventos .card-content .topico-info {
    font-weight: 500; }
  #eventos .card-content .dropdown-button {
    color: #000;
    margin-top: 15px; }
  #eventos .card-content .dropdown-content li a {
    color: #000 !important; }
  #eventos .card-content .dropdown-content .finalizador {
    color: #4caf50 !important; }
  #eventos .card-content .dropdown-content .excluidor {
    color: #f44336 !important; }
  #eventos .card-content .countdownDisponibilidade {
    margin-top: 16px !important;
    margin-bottom: -14px !important;
    color: #ff6e40 !important;
    font-weight: 400 !important;
    text-transform: uppercase !important;
    font-size: 14px !important; }

#card-confirmados {
  position: fixed;
  margin-right: 6%; }
  #card-confirmados ul {
    margin-bottom: 0px; }
    #card-confirmados ul li {
      margin: 8px 0px 0px 0px; }

.create-form {
  margin-top: -48px !important; }

.card-action a {
  color: #ff6e40 !important; }

/*****SCROLL SPY*****/
.section {
  padding-top: 0px !important;
  padding-bottom: 0px !important; }

.table-of-contents {
  position: fixed; }
  .table-of-contents a {
    border-color: #ff6e40 !important; }

/*****MODAL*****/
.modal-header {
  font-size: 24px;
  font-weight: 300;
  margin-top: 0px; }

.modal-content table thead tr th:first-child {
  width: 20%; }

.modal-content table thead tr th:nth-child(2) {
  width: 50%; }

@media screen and (max-width: 600px) {
  .modal-content table thead tr th:nth-child(2) {
    width: 80% !important; } }

.modal-content table tbody .espera {
  background-color: #ffebee !important; }

/*****MODAL FINALIZADOR*****/
.checkboxConfirmados {
  display: inline-block; }

#btn-finalizar-evento {
  color: #ff6e40; }

/*****FORMS*****/
#cancelar-btn {
  color: #ff6e40;
  margin-right: 20px; }

#criar-post-segunda-row {
  margin-top: 24px; }

#p-fixado {
  margin-bottom: 10px; }

.btn-wrapper {
  text-align: right; }

/*****RANKING*****/
#ranking {
  margin-top: 80px !important; }
  #ranking thead th {
    padding-top: 0px !important; }
